
train_classifier:
  dir: './result/se_resnext50'
  batch_size: 60
  num_epochs: 23
  num_grad_acc: 4
  
train_classifier:
  dir: './result/se_resnext50'
  batch_size: 64
  num_epochs: 23
  num_grad_acc: 4

eval_classifier:
  batch_size: 20


loss_classifier:
  name: 'cross_entropy'
  
transform_classifier:
  name: 'policy_transform'
  num_preprocessor: 8
  params:
    policies: 'data/best_policy.data'
    per_image_norm: True
    size: 224


model_classifier:
    name: 'se_resnext50'
    params:
      cnn: 'se_resnext50'
      attention_size: 32
    